.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: rgb(76 76 255 / 100%);
  text-decoration: none;
}
