.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.scroll {
  width: 100%;
  max-height: calc(100vh - 284px);
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  width: 8px;
  height: 492px;
  background: #8585ad;
  border: 3px solid #8585ad;
}

.scroll::-webkit-scrollbar-track-piece:end {
  margin-bottom: 52px;
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-track-piece:start {
  margin-top: 40px;
  background: #2f2f37;
}
