.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 800px;
  padding-right: 8px;
  overflow-y: auto;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 40px 20px;
  text-align: center;
}

/* Стили для скролла */

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: #4c4cff;
  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #4040d9;
}
