.card__center {
  width: 94.36%;
}

.card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

.card__icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease;
}
